.genre-badge {
  line-height: 2em;
  letter-spacing: 1px;
}

.poster_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    display: block;
    max-width:550px;
    max-height:350px;
    width: -webkit-fill-available;
    height: auto;
  }
}

.custom-badge {
  background-color: #efecec;
}

.header-bg {
  background-color: #9eb8cf;
}
