<div class="container" *ngIf="titleInfo">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-header font-weight-bold header-bg">
          <div class="row">
            <div class="col-md-5">
              <h3 class="text-white">{{ titleInfo.titleName }}</h3><h6 class="text-white">({{ titleInfo.releaseYear }})</h6>
            </div>
            <div class="col-md-7 align-self-end text-right">
              <h6><span class="badge badge-pill ml-2 mt-2 genre-badge custom-badge" *ngFor="let item of titleInfo.titleGenres">{{ item.genre.name }}</span></h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row mt-2">
            <div class="col-md-4 align-self-start">
              <div class="card">
                <div class="card-body">
                  <div class="row mb-3">
                    <div class="col text-center align-self-center">
                      <div class="poster_container">
                        <img src="{{moviePosterUrl}}" onerror="this.onerror=null;this.src='../../../../../../assets/images/movie-poster.png'"
                          alt="movie poster">
                      </div>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="row mt-3" *ngIf="movieInfo?.results[0]">
                    <div class="col-md-8">
                      <mat-label class="font-weight-bold">Release: {{movieInfo?.results[0]?.release_date | date}}</mat-label>
                    </div>
                    <div class="col-md-4">
                      <mat-label class="font-weight-bold">Score: {{movieInfo?.results[0]?.vote_average}}</mat-label>
                    </div>
                  </div>
                  <div class="row mt-3" *ngIf="titleInfo.awards.length > 0">
                    <div class="col">
                      <app-title-awards [titleAwards]="titleInfo.awards"></app-title-awards>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="row mt-3" *ngIf="titleInfo.otherNames.length > 0">
                    <div class="col">
                      <app-title-names [otherNames]="titleInfo.otherNames"></app-title-names>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-body">
                  <div class="row" *ngIf="movieInfo?.results[0]">
                    <div class="col">
                      <h4>Overview</h4>
                      <mat-label>{{movieInfo?.results[0]?.overview}}</mat-label>
                    </div>
                  </div>
                  <div class="row mt-4" *ngIf="titleInfo.mainParticipants.topCast.length > 0">
                    <div class="col">
                      <app-title-top-cast [topCast]="titleInfo.mainParticipants.topCast"></app-title-top-cast>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <h6>Director</h6>
                      <span *ngFor="let item of titleInfo.mainParticipants.directors">
                        <mat-label class="d-block mt-2">{{ item.participant.name }}</mat-label>
                      </span>
                    </div>
                  </div>
                  <mat-divider class="mt-4"></mat-divider>
                  <div class="row mt-4">
                    <div class="col">
                      <h6>Producer</h6>
                      <span *ngFor="let item of titleInfo.mainParticipants.producers">
                        <mat-label class="d-block mt-2">{{ item.participant.name }}</mat-label>
                      </span>
                    </div>
                  </div>
                  <mat-divider class="mt-4"></mat-divider>
                  <div class="row mt-4">
                    <div class="col">
                      <h6>ScreenPlay</h6>
                      <span *ngFor="let item of titleInfo.mainParticipants.screenPlay">
                        <mat-label class="d-block mt-2">{{ item.participant.name }}</mat-label>
                      </span>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <h4>Storyline</h4>
                      <div *ngFor="let story of titleInfo.storyLines" class="comment">
                        <h6 class="badge badge-warning">{{story.type}}</h6>
                        <p>{{ story.description }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
