<div class="container" *ngIf="titleInfo">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-5">
              <h3>{{ titleInfo.titleName }}</h3><h6>({{ titleInfo.releaseYear }})</h6>
            </div>
            <div class="col-md-7 align-self-end text-right">
              <h6><span class="badge badge-pill badge-info ml-2 mt-2 genre-badge" *ngFor="let item of titleInfo.titleGenres">{{ item.genre.name }}</span></h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row mt-2">
            <div class="col-md-8 align-self-start">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h4>Top cast</h4>
                      <div class="row mt-3">
                        <div class="col-md-4 mt-3 text-center" *ngFor="let item of titleInfo.mainParticipants.topCast">
                          <img src="{{item.pictureUrl ? item.pictureUrl : '../../../../../../assets/images/person.png'}}"
                            alt="movie star picture" class="img-thumbnail cast-picture">
                          <mat-label class="d-block mt-2">{{item.participant.name}}</mat-label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <h6>Director</h6>
                      <span *ngFor="let item of titleInfo.mainParticipants.directors">
                        <mat-label class="d-block mt-2">{{ item.participant.name }}</mat-label>
                      </span>
                    </div>
                  </div>
                  <mat-divider class="mt-4"></mat-divider>
                  <div class="row mt-4">
                    <div class="col">
                      <h6>Producer</h6>
                      <span *ngFor="let item of titleInfo.mainParticipants.producers">
                        <mat-label class="d-block mt-2">{{ item.participant.name }}</mat-label>
                      </span>
                    </div>
                  </div>
                  <mat-divider class="mt-4"></mat-divider>
                  <div class="row mt-4">
                    <div class="col">
                      <h6>ScreenPlay</h6>
                      <span *ngFor="let item of titleInfo.mainParticipants.screenPlay">
                        <mat-label class="d-block mt-2">{{ item.participant.name }}</mat-label>
                      </span>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <h4>Storyline</h4>
                      <div *ngFor="let story of titleInfo.storyLines">
                        <h6 class="badge badge-warning">{{story.type}}</h6>
                        <p>{{ story.description }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <h4>Other Movie Names</h4>
                      <div *ngFor="let name of titleInfo.otherNames" class="row d-block mt-2">
                        <div class="col-md-6">
                          <mat-label class="badge badge-primary">{{ name.titleNameLanguage }}</mat-label>
                        </div>
                        <div class="col-md-6">
                          <mat-label class="mr-4">{{ name.titleName }}</mat-label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <div class="row mb-3">
                    <div class="col mt-3 text-center align-self-center">
                      <div class="poster_container">
                        <img src="{{moviePosterUrl}}" alt="movie poster" class="poster">
                      </div>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="row mt-3" *ngIf="titleInfo.awards.length > 0">
                    <div class="col">
                      <h4>Awards</h4>
                      <mat-list *ngFor="let award of titleInfo.awards">
                        <mat-list-item>
                          {{ award.awardCompany }}
                        </mat-list-item>
                        <mat-list-item>
                          Year: <span class="ml-2">{{ award.awardYear }}</span>
                        </mat-list-item>
                        <mat-list-item>
                          <mat-label>Category:</mat-label><span class="ml-2">{{ award.award1 }}</span>
                        </mat-list-item>
                        <mat-list-item>
                          Award:
                          <span class="badge ml-2 award-badge" ngClass="{{award.awardWon ? 'badge-success' : 'badge-danger'}}">
                            {{ award.awardWon ? 'Winner' : 'Nominee' }}
                          </span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                      </mat-list>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
