<mat-form-field class="search-full-width" appearance="outline">
  <mat-label>Search title by name</mat-label>
  <input type="text" placeholder="Search title by name" matInput
    [formControl]="titleSearchAutoComplete" [matAutocomplete]="auto" (keyup)="filterData($event.target.value)">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
      (optionSelected)="onTitleSelected($event.option.value)">
    <mat-option *ngFor="let option of filteredTitleOptions | async" [value]="option">
      {{option.description}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
