.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.search-full-width {
  width: 50vw;
}

.logo-container {
  margin: auto;
  img {
    max-width:300px;
    max-height:190px;
    height: auto;
    width: 80%;
  }
}
