<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-description>
        <strong>Movie Awards</strong>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngFor="let award of titleAwards">
      <mat-list-item>
        {{ award.awardCompany }}
      </mat-list-item>
      <mat-list-item>
        Year: <span class="ml-2">{{ award.awardYear }}</span>
      </mat-list-item>
      <mat-list-item>
        <mat-label>Category:</mat-label><span class="ml-2">{{ award.award1 }}</span>
      </mat-list-item>
      <mat-list-item>
        Award:
        <span class="badge ml-2 award-badge" ngClass="{{award.awardWon ? 'badge-success' : 'badge-danger'}}">
          {{ award.awardWon ? 'Winner' : 'Nominee' }}
        </span>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
