<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        <strong>Awards</strong>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card class="my-card mt-2" *ngFor="let award of titleAwards">
      <mat-card-header>
        <img mat-card-avatar  alt="award avatar"
          src="{{ award.awardCompany.toLowerCase() === 'academy award' ? '../../../../assets/images/oscar-award.png' :
            award.awardCompany.toLowerCase() === 'golden globe' ? '../../../../assets/images/golden-globe.png' :
            '../../../../assets/images/award.png'}}">
        <mat-card-title>{{ award.award1 }}</mat-card-title>
        <mat-card-subtitle><strong>{{ award.awardYear }}</strong> |
          <span class="badge ml-2 award-badge" ngClass="{{ award.awardWon ? 'badge-success' : 'badge-danger'}}">
            {{ award.awardWon ? 'Winner' : 'Nominee' }}
          </span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
